<ion-view view-title="{{home}}">
  <ion-content>
     <div class="bar bar-header bar-calm">
        <h1 class="title">Login</h1>
     </div>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Usuário</span>
          <input type="text" placeholder="brenofdc">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Senha</span>
          <input type="text" placeholder="********">
        </label>
      </div>
      <div>
        <button class="button button-light" ng-click="realizaLogin()"></button>
      </div>
  </ion-content>
</ion-view>
