<ion-view title="Hospital" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="hospital-card21">
            <ion-item class="item-avatar  " id="hospital-list-item18">
                <h2>Nome do Hospital</h2>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body " id="hospital-list-item-container1">
                <p id="hospital-markdown1" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>