<ion-view title="Pesquisar" id="page5" class=" ">
  <ion-content padding="true" class="has-header">
    <form id="pesquisar-form2" class="list ">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Pesquisar Hospitais">
      </label>
    </form>
    <div>
    <div class="item item-text-wrap">
      <ion-list>
        <ion-item ng-repeat="item in lista">
          <div class="row">
            <div class="col col-80">
                {{item.name}}
              <div>
                {{item.link}}
              </div>
            </div>
          </div>
            <ion-checkbox
              ng-model="item.favorito"
              ng-checked="item.favorito">
              {{item.favorito}}
            </ion-checkbox>
        </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
